extends layout
block content
  br
  form(class='bootstrap-frm')
    h1 Account Login
      span Please complete each input field
    label Email
    input(type='text' required)
    label Password
    input(type='password' required)
    br
    input(type='submit')